# dependencies
/node_modules

# build
/dist

# test
/coverage

# dotenv
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# OS
.DS_Store
/generated/prisma

# SQLite database file
dev.db